.wrapper {
    position: fixed;
    inset: 0;
    display: grid;
    padding: 16px;
    animation: slideIn 500ms ease-out both;
    animation-delay: 250ms;
}

.backdrop {
    position: absolute;
    inset: 0;
    background: hsl(0deg 0% 0% / 0.55);
    animation: fadeIn 500ms;
}

.content {
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.dialog {
    height: 100%;
    position: relative;
    background: white;
    color: hsl(216, 4%, 25%);
    border-radius: 8px;
    padding: 32px;
}

.closeBtn {
    position: absolute;
    top: 0px;
    right: 18px;
    padding: 16px;
    cursor: pointer;
    border: none;
    color: var(--color-primary);
    background: var(--color-gradient-background);
    width: 50px;
    aspect-ratio: 1;
    box-shadow: var(--shadow-card);
    display: grid;
    place-content: center;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    transform: translate(-24px, 10px);
}



@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}