.wrapper {

    width: 100%;
    max-width: var(--content-width);
    margin-inline: auto;
    padding: var(--viewport-padding);

    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    &>div:first-child {
        flex: 3;

        @media screen and (min-width: 69rem) {
            order: 3;
        }
    }

    @media screen and (min-width: 69rem) {
        flex-direction: row;
    }

    @media screen and (min-width: 94rem) {
        min-height: calc(100vh - var(--header-height));
        min-height: calc(100dvh - var(--header-height));
        min-height: calc(100svh - var(--header-height));
    }

}

.description {
    flex: 1
}

.imageContainer {
    position: relative;
}

.imageContainer div {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 100px;
    right: -5px;
    background: var(--color-gradient-background);
    border-radius: 40% 60% 3% 97% / 78% 59% 41% 22%;
    /* animation: animate 1.2s ease-in infinite forwards; */
}

.imageContainer img {
    position: relative;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(20% 57%, 60% 47%, 100% 43%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 65%);
    }

    50% {
        clip-path: polygon(23% 49%, 66% 53%, 99% 59%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 48%);
    }
}