.wrapper {
    width: 100%;
    max-width: var(--header-content-width);
    padding: 0 var(--viewport-padding);
    height: var(--header-height);
    margin-inline: auto;
    display: flex;
    align-items: baseline;
    gap: 2.4rem;
}


.logo {
    /* font-family: var(--ff-primary); */
    color: var(--color-text);
    padding-inline: 1rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-inline-end: auto;
}

.logo a {
    font-size: 3rem;
}

.logo span {
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--color-text);
}

.navigation {
    display: none;


    @media screen and (min-width:40rem) {
        display: revert;
    }
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


.actions {
    & button {
        cursor: pointer;
        display: block;
    }

    & button:first-of-type {
        display: none;

        @media screen and (min-width:40rem) {
            display: block;
        }
    }

    & button.menu {
        color: var(--color-primary);
        color: var(--color-primary);
        background: var(--color-gradient-background);
        width: 50px;
        aspect-ratio: 1;
        box-shadow: var(--shadow-card);
        display: grid;
        place-content: center;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

        @media screen and (min-width:40rem) {
            display: none;
        }
    }
}